html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  height: 100%;
}

.page {
  padding: 20px;
}

.content {
  margin: auto;
  /* max-width: 1000px; */
}

.center {
  margin: 15px;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.center-div {
  margin: 15px;
  position: relative;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

/* Put elements side by side horizontally and vertically center align*/
.sxs {
  display: flex;
  align-items: center;
  direction: column;
}

/* Justify elements horizontally and vertically center align */
.justify {
  display: flex;
  justify-content: space-between;
  align-items: center;
  direction: column;
  width: 100%;
}

/* Justify elements horizontally and keep elements aligned to the top */
.justify-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
